Repository shadowkrusha/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: [".github/**/*"]
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: ["cluster/**/*"]
area/hack:
  - changed-files:
      - any-glob-to-any-file: ["hack/**/*"]
area/terraform:
  - changed-files:
      - any-glob-to-any-file: ["terraform/**/*"]

fix pre-commit
  .pre-commit-config.yaml
Labels: none

Reconfig system-upgrade
  .pre-commit-config.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes

Update memeory settings for wordpress
  cluster/apps/wordpress/rpc-clone/helm-release.yaml
Labels: area/kubernetes

Move jellyfin releases
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/kubernetes

Revert "fix(helm): update chart tigera-operator to v3.27.2"
  cluster/apps/networking/calico/tigera-operator/app/helm-release.yaml
Labels: area/kubernetes

Revert "fix(helm): update chart tigera-operator to v3.27.2"
  cluster/apps/networking/calico/tigera-operator/app/helm-release.yaml
Labels: area/kubernetes

Update traefik web configuration
  cluster/apps/networking/traefik/app/helm-release.yaml
Labels: area/kubernetes

Update helm-release.yaml
  cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/kubernetes

Update helm-release.yaml
  cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/kubernetes

Update helm-release.yaml
  cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/kubernetes

Update helm-release.yaml
  cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/kubernetes

Update helm-release.yaml
  cluster/apps/media/nzbhydra2/helm-release.yaml
Labels: area/kubernetes

Update influxdb ingress
  cluster/apps/monitoring/influxdb/helm-release.yaml
Labels: area/kubernetes

Update influxdb ingress
  cluster/apps/monitoring/influxdb/helm-release.yaml
Labels: area/kubernetes

Update recyclarr
  cluster/apps/media/recyclarr/helm-release.yaml
Labels: area/kubernetes

update recyclarr
  cluster/apps/media/recyclarr/helm-release.yaml
Labels: area/kubernetes

update recyclarr
  cluster/apps/media/recyclarr/helm-release.yaml
Labels: area/kubernetes

update recyclarr
  cluster/apps/media/recyclarr/helm-release.yaml
Labels: area/kubernetes

update recyclarr
  cluster/apps/media/recyclarr/helm-release.yaml
Labels: area/kubernetes

Update Sonarr config
  cluster/apps/media/sonarr/helm-release.yaml
Labels: area/kubernetes

Update sabnzbd config
  cluster/apps/media/sabnzbd/helm-release.yaml
Labels: area/kubernetes

Update jellyfin config
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/kubernetes

update exclidraw
  cluster/apps/development/excalidraw/helm-release.yaml
Labels: area/kubernetes

Switch sonarr to main from develop
  cluster/apps/media/sonarr/helm-release.yaml
Labels: area/kubernetes

Switch add tmp dir
  cluster/apps/media/sonarr/helm-release.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart tigera-operator to v3.28.0"
  cluster/apps/networking/calico/tigera-operator/app/helm-release.yaml
Labels: area/kubernetes

Update system-upgrade-controller configuration
  cluster/apps/system-upgrade/system-upgrade-controller/app/helm-release.yaml
Labels: area/kubernetes

Disable vault
  cluster/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

Update loki configuration
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/kubernetes

Update jellyfin to linuxserver container
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/kubernetes

revert jellyfin
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/kubernetes

Update excalidraw
  cluster/apps/development/excalidraw/helm-release.yaml
Labels: area/kubernetes

Update Jellyfin version
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/kubernetes

Update problem timeouts for sonar
  cluster/apps/media/sonarr/helm-release.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart tigera-operator to v3.28.1"
  cluster/apps/networking/calico/tigera-operator/app/helm-release.yaml
Labels: area/kubernetes

Tidy up renovate errors
  .github/renovate.json5
Labels: area/github

Clear traefik error
  cluster/apps/networking/traefik/app/helm-release.yaml
Labels: area/kubernetes

Clear traefik error
  cluster/apps/networking/traefik/app/helm-release.yaml
Labels: area/kubernetes

Disable webhook for cert-manager
  cluster/apps/cert-manager/cert-manager/app/helm-release.yaml
Labels: area/kubernetes

disable loki
  cluster/apps/monitoring/kustomization.yaml
Labels: area/kubernetes
